
spring:
  main:
    allow-bean-definition-overriding: true

    #Database configuration
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password
    jpa:
      database-platform: org.hibernate.dialect.H2Dialect
    initialization-mode: always
   # data: classpath:sql/data.sql
  h2:
    console:
      enabled: true
      path: /h2-console


  jpa:
    properties:
      hibernate:
        format_sql: true


logging:
  level:
    root: ERROR
    org.springframework.web: ERROR
    org.hibernate: trace
